name: build

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string

jobs:
  init:
    uses: ./.github/workflows/init.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  make:
    name: make${{ matrix.id }}
    strategy:
      fail-fast: true
      matrix:
        id: [1, 2, 3, 4, 5, 6]
    needs: init
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  status:
    if: needs.make.outputs.status != 'success'
    runs-on: ubuntu-slim
    needs: make
    steps:
    - run: false
