name: build

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: [ 'rpi5_64' ]

    env:
      ARCH: ${{ matrix.arch }}
      RECALBOX_VERSION: ${{ matrix.arch }}
      WORKDIR: ${{ github.workspace }}
      OUTPUTDIR: ${{ github.workspace }}/output
      CCACHE: "true"

    steps:

    - run: df -h

    - run: |
        git clone --depth 1 --shallow-submodules --recurse-submodules --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "${WORKDIR}"
        docker build -t "recalbox-${ARCH}" "${WORKDIR}"

    - run: df -h

    - run: |
        mkdir -p "${OUTPUTDIR}"
        docker run --rm --tmpfs /tmp:exec --security-opt seccomp=unconfined \
          -v "${WORKDIR}:/work" \
          -v "${OUTPUTDIR}:/work/output" \
          -v "/recalbox-builds/dl:/share/dl" \
          -v "/recalbox-builds/ccaches/ccache-${ARCH}:/share/ccache" \
          -e "ARCH=${ARCH}" \
          -e "RECALBOX_VERSION=${RECALBOX_VERSION}" \
          -e "RECALBOX_CCACHE_ENABLED=${CCACHE}" \
          -e "FORCE_UNSAFE_CONFIGURE=1" \
          "recalbox-${ARCH}"

    - run: df -h
