name: build

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
      build_extra_args:
        type: string
        default: ""
      remote_storage:
        type: boolean
        default: true
      skip_init:
        type: boolean
        default: true
      release:
        default: true
        type: boolean
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string
      build_extra_args:
        description: "Build extra args"
        type: string
        default: ""
      remote_storage:
        description: "Use remote storage"
        type: boolean
        default: true
      skip_init:
        description: "Skip init"
        type: boolean
        default: false
      release:
        description: "Create release"
        default: false
        type: boolean

jobs:
  init:
    if: ! inputs.skip_init
    uses: ./.github/workflows/init.yml
    with:
      tag: ${{ inputs.tag }}
      release: ${{inputs.release }}
  download:
    if: inputs.remote_storage
    uses: ./.github/workflows/download.yml
    secrets: inherit
    with:
      arch: ${{ inputs.arch }}
  make1:
    needs: [init, download]
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      release: ${{inputs.release }}
  upload1:
    needs: make1
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  make2:
    needs: make1
    if: needs.make1.outputs.status == 'continue'
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      release: ${{inputs.release }}
  upload2:
    needs: [make2, upload1]
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  make3:
    needs: make2
    if: needs.make2.outputs.status == 'continue'
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      release: ${{inputs.release }}
  upload3:
    needs: [make3, upload2]
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  make4:
    needs: make3
    if: needs.make3.outputs.status == 'continue'
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      release: ${{inputs.release }}
  upload4:
    needs: [make4, upload3]
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  make5:
    needs: make4
    if: needs.make4.outputs.status == 'continue'
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      release: ${{inputs.release }}
  upload5:
    needs: [make5, upload4]
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  make6:
    needs: make5
    if: needs.make5.outputs.status == 'continue'
    uses: ./.github/workflows/make.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
      release: ${{inputs.release }}
  upload6:
    needs: [make6, upload5]
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
