name: build

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
      build_extra_args:
        type: string
        default: ""
      remote_storage:
        type: boolean
        default: true
      skip_init:
        type: boolean
        default: true
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string
      build_extra_args:
        description: "Build extra args"
        type: string
        default: ""
      remote_storage:
        description: "Use remote storage"
        type: boolean
        default: true
      skip_init:
        description: "Skip init"
        type: boolean
        default: false

jobs:
  init:
    if: ! inputs.skip_init
    uses: ./.github/workflows/init.yml
    with:
      tag: ${{ inputs.tag }}
  download:
    if: inputs.remote_storage
    uses: ./.github/workflows/download.yml
    secrets: inherit
    with:
      arch: ${{ inputs.arch }}
  nibble1:
    needs: [init, download]
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  upload_nibble1:
    needs: nibble1
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  nibble2:
    needs: nibble1
    if: needs.nibble1.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  upload_nibble2:
    needs: [nibble2, upload_nibble1]
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  nibble3:
    needs: nibble2
    if: needs.nibble2.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  upload_nibble3:
    needs: [nibble3, upload_nibble2]
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  nibble4:
    needs: nibble3
    if: needs.nibble3.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  upload_nibble4:
    needs: [nibble4, upload_nibble3]
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  nibble5:
    needs: nibble4
    if: needs.nibble4.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  upload_nibble5:
    needs: [nibble5, upload_nibble4]
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  nibble6:
    needs: nibble5
    if: needs.nibble5.outputs.status == 'continue'
    uses: ./.github/workflows/nibble.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
      build_extra_args: ${{ inputs.build_extra_args }}
  upload_nibble6:
    needs: [nibble6, upload_nibble5]
    if: inputs.remote_storage
    uses: ./.github/workflows/upload.yml
    secrets: inherit
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
