name: build

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string

jobs:
  init:
    uses: ./.github/workflows/init.yml
    with:
      tag: ${{ inputs.tag }}
      arch: ${{ inputs.arch }}
  build:
    needs: init
    runs-on: ubuntu-latest
    env:
      RECALBOX_VERSION: ${{ inputs.tag }}
      WORKDIR: ${{ github.workspace }}/recalbox
      OUTPUTDIR: ${{ github.workspace }}/output
      CCACHEDIR: ${{ github.workspace }}/ccache
      DL: ${{ github.workspace }}/dl
      HOST: ${{ github.workspace }}/host
      CCACHE: true
    steps:
    - uses: endersonmenezes/free-disk-space@v3
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_tool_cache: true
        remove_swap: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
        rm_cmd: "rmz"
        rmz_version: "3.1.1"
        testing: false
    # Download artifacts
    - uses: actions/download-artifact@v5
      with:
        name: workdir-${{ inputs.tag }}-${{ inputs.arch }}
    - uses: actions/download-artifact@v5
      with:
        name: outdir-${{ inputs.tag }}-${{ inputs.arch }}
    - uses: actions/download-artifact@v5
      with:
        name: ccachedir-${{ inputs.tag }}-${{ inputs.arch }}
    - uses: actions/download-artifact@v5
      with:
        name: dl-${{ inputs.tag }}-${{ inputs.arch }}
    - uses: actions/download-artifact@v5
      with:
        name: host-${{ inputs.tag }}-${{ inputs.arch }}
    - uses: actions/download-artifact@v5
      with:
        name: docker-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ runner.temp }}
    # Build
    - run: |
        docker image import "${{ runner.temp }}/recalbox.tar" recalbox
        rm "${{ runner.temp }}/recalbox.tar"
        docker run --rm --security-opt seccomp=unconfined \
          -w="${{ env.WORKDIR }}" \
          -v "${{ env.WORKDIR }}:${{ env.WORKDIR }}" \
          -v "${{ env.OUTPUTDIR }}:/work/output" \
          -v "${{ env.DL }}:/share/dl" \
          -v "${{ env.HOST }}:/share/host" \
          -v "${{ env.CCACHEDIR }}:/share/ccache" \
          -e "ARCH=${{ inputs.arch }}" \
          -e "RECALBOX_VERSION=${{ env.RECALBOX_VERSION }}" \
          -e "FORCE_UNSAFE_CONFIGURE=1" \
          -e "RECALBOX_CCACHE_ENABLED=${{ env.CCACHE }}" \
          --user="$(id -u):$(id -g)" \
          recalbox
    # Upload artifacts
    - uses: actions/upload-artifact@v4
      with:
        name: workdir-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ env.WORKDIR }}
        include-hidden-files: true
        overwrite: true
    - uses: actions/upload-artifact@v4
      with:
        name: outdir-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ env.OUTPUTDIR }}
        include-hidden-files: true
        overwrite: true
    - uses: actions/upload-artifact@v4
      with:
        name: ccachedir-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ env.CCACHEDIR }}
        include-hidden-files: true
        overwrite: true
    - uses: actions/upload-artifact@v4
      with:
        name: dl-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ env.DL }}
        include-hidden-files: true
        overwrite: true
    - uses: actions/upload-artifact@v4
      with:
        name: host-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ env.HOST }}
        include-hidden-files: true
        overwrite: true
