name: build

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: [ 'rpi5_64' ]

    env:
      ARCH: ${{ matrix.arch }}

    steps:

    - id: cache-recalbox
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/recalbox
        key: ${{ inputs.tag }}

    - if: steps.cache-recalbox.outputs.cache-hit != 'true'
      run: |
        git clone --depth 1 --shallow-submodules --recurse-submodules --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "${{ github.workspace }}/recalbox"
        cd "${{ github.workspace }}/recalbox"
        sed --in-place --expression="s/docker build/# docker build/g" ./scripts/linux/recaldocker.sh
        sed --in-place --expression="s/ -ti / /g" ./scripts/linux/recaldocker.sh
        sed --in-place --expression="s/BR2_CCACHE_INITIAL_SETUP=--max-size=[[:alnum:]]*/BR2_CCACHE_INITIAL_SETUP=--max-size=8G/g" ./Dockerfile
        docker build -t "recalbox-dev" .

    - run: |
        cd "${{ github.workspace }}/recalbox"
        ./scripts/linux/recaldocker.sh
