name: build

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: [ 'rpi5_64' ]

    env:
      ARCH: ${{ matrix.arch }}
      RECALBOX_VERSION: ${{ matrix.arch }}
      WORKDIR: ${{ github.workspace }}/recalbox
      OUTPUTDIR: ${{ github.workspace }}/output
      DL: ${{ github.workspace }}/dl
      HOST: ${{ github.workspace }}/host
      CCACHE: false

    steps:

    - run: df -h

    - uses: endersonmenezes/free-disk-space@v3
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_tool_cache: true
        remove_swap: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
        rm_cmd: "rmz"
        rmz_version: "3.1.1"
        testing: false

    - run: df -h

    - run: |
        git clone --depth 1 --shallow-submodules --recurse-submodules --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "${WORKDIR}"
        docker build -t "recalbox-${ARCH}" "${WORKDIR}"
        docker builder prune --all --force

    - run: df -h

    - run: |
        mkdir -p "${OUTPUTDIR}" "${DL}" "${HOST}"
        cd "${WORKDIR}"
        docker run --rm --security-opt seccomp=unconfined \
          -w="${WORKDIR}" \
          -v "${WORKDIR}:${WORKDIR}" \
          -v "${OUTPUTDIR}:/work/output" \
          -v "${DL}:/share/dl" \
          -v "${HOST}:/share/host" \
          -v "/${WORKDIR}/ccache-${ARCH}:/share/ccache" \
          -e "ARCH=${ARCH}" \
          -e "RECALBOX_VERSION=${RECALBOX_VERSION}" \
          -e "RECALBOX_CCACHE_ENABLED=${CCACHE}" \
          -e "FORCE_UNSAFE_CONFIGURE=1" \
          --user="$(id -u):$(id -g)" \
          "recalbox-${ARCH}"

    - run: df -h
