name: init

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string

jobs:
  init:
    runs-on: ubuntu-latest
    env:
      WORKDIR: /pool/recalbox
      OUTPUTDIR: /pool/output
      DL: /pool/dl
      HOST: /pool/host
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install -y zfsutils-linux
    # Create zpool
    - run: |
        fallocate -l 8G "${{ runner.temp }}/recalbox.zpool"
        sudo zpool create -O compression=zstd pool "${{ runner.temp }}/recalbox.zpool"
        sudo chown "$USER:$USER" /pool/
        mkdir "${{ env.OUTPUTDIR }}" "${{ env.DL }}" "${{ env.HOST }}"
    # Clone repo
    - run: |
        git clone --depth 1 --shallow-submodules --recurse-submodules --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "${{ env.WORKDIR }}"
    # Build Docker image
    - run: |
        docker build --tag recalbox "${{ env.WORKDIR }}"
        docker image save --output "${{ runner.temp }}/recalbox.tar" recalbox
    - uses: actions/upload-artifact@v4
      with:
        name: docker-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ runner.temp }}/recalbox.tar
    # Export zpool
    - run: |
        sudo zpool export pool
    - uses: actions/upload-artifact@v4
      with:
        name: zpool-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ runner.temp }}/recalbox.zpool
