name: init

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
      ccache:
        type: boolean
        default: false
      remote_storage:
        type: boolean
        default: true

jobs:
  init:
    runs-on: ubuntu-latest
    steps:
    - name: "Cache Recalbox"
      id: cache-recalbox
      uses: actions/cache@v4
      with:
        key: recalbox-${{ inputs.tag }}
        path: ${{ runner.temp }}/recalbox-${{ inputs.tag }}.zfs.zst
    - name: "Remove swap"
      if: steps.cache-recalbox.outputs.cache-hit != 'true'
      uses: endersonmenezes/free-disk-space@v3
      with:
        remove_swap: true
    - name: "Checkout patches"
      if: steps.cache-recalbox.outputs.cache-hit != 'true'
      uses: actions/checkout@v6
    - name: "Create Recalbox"
      if: steps.cache-recalbox.outputs.cache-hit != 'true'
      run: |
        set -x
        sudo apt update
        sudo apt install --yes zfsutils-linux
        readonly device=/dev/$(lsblk --noheadings --output PKNAME "$(findmnt --noheadings --output SOURCE /mnt/)")
        sudo umount /mnt/
        sudo zpool create -O compression=zstd mnt "$device"
        sudo chown "$USER:$USER" /mnt/
        mkdir --parents /mnt/output/build/.npm/
        git clone --depth 1 --shallow-submodules --recurse-submodules --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git /mnt/recalbox/
        git -C /mnt/recalbox/ apply "${{ github.workspace }}/patch/docker-ccache.patch"
        git -C /mnt/recalbox/ apply "${{ github.workspace }}/patch/recalbox-themes.patch"
        docker build --tag recalbox /mnt/recalbox/
        docker save --output /mnt/recalbox.tar recalbox
        sudo zfs snapshot mnt@init
        sudo zfs send mnt@init | zstd -o "${{ runner.temp }}/recalbox-${{ inputs.tag }}.zfs.zst"
    - name: "Upload Recalbox"
      uses: actions/upload-artifact@v4
      with:
        name: recalbox-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ runner.temp }}/recalbox-${{ inputs.tag }}.zfs.zst
        compression-level: 0
  download:
    if: inputs.remote_storage
    concurrency:
      group: lock-remote-storage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - id: download-ccache
      if: inputs.ccache
      continue-on-error: true
      run: |
        echo "::add-mask::${{ secrets.MASK_0 }}"
        wget --quiet "${{ secrets.BR2_BACKUP_SITE }}/ccache/ccache-${{ inputs.arch }}.tar.zst"
    - uses: actions/upload-artifact@v4
      if: inputs.ccache && steps.download-ccache.outcome == 'success'
      with:
        name: ccache-${{ inputs.arch }}
        path: ccache-${{ inputs.arch }}.tar.zst
        compression-level: 0
