name: init

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    # Restore cache
    - id: cache-docker
      uses: actions/cache@v4
      with:
        path: ${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
        key: recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
    # Build Docker image
    - if: steps.cache-docker.outputs.cache-hit != 'true'
      run: |
        git clone --depth 1 --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "${{ github.workspace }}/recalbox"
        docker build --tag recalbox "${{ github.workspace }}/recalbox"
        docker save recalbox | zstd -o "${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst"
    - uses: actions/upload-artifact@v4
      with:
        name: recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
        path: ${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
  work:
    runs-on: ubuntu-latest
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd-19 -m /pool/work work /dev/nbd0
        sudo chown "$USER:$USER" /pool/work/
    # Clone repo
    - run: |
        git clone --depth 1 --shallow-submodules --recurse-submodules --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "/pool/work/recalbox/"
    # Apply patch
    - uses: actions/checkout@v6
    - run: |
        (cd "/pool/work/recalbox/" && git apply "${{ github.workspace }}/patch/bass24.patch") || true
        (cd "/pool/work/recalbox/" && git apply "${{ github.workspace }}/patch/megatools.patch") || true
    # Export zpool
    - run: |
        zfs get all work
        sudo zpool export work
        sudo qemu-nbd --disconnect /dev/nbd0
    - uses: actions/upload-artifact@v4
      with:
        name: work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
  dl:
    runs-on: ubuntu-latest
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd-19 -m /pool/dl dl /dev/nbd0
        sudo chown "$USER:$USER" /pool/dl/
    # Export zpool
    - run: |
        zfs get all dl
        sudo zpool export dl
        sudo qemu-nbd --disconnect /dev/nbd0
    - uses: actions/upload-artifact@v4
      with:
        name: dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
  host:
    runs-on: ubuntu-latest
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd-19 -m /pool/host host /dev/nbd0
        sudo chown "$USER:$USER" /pool/host/
    # Export zpool
    - run: |
        zfs get all host
        sudo zpool export host
        sudo qemu-nbd --disconnect /dev/nbd0
    - uses: actions/upload-artifact@v4
      with:
        name: host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
  output:
    runs-on: ubuntu-latest
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd-19 -m /pool/output output /dev/nbd0
        sudo chown "$USER:$USER" /pool/output/
        mkdir --parents /pool/output/build/.npm
    # Export zpool
    - run: |
        zfs get all output
        sudo zpool export output
        sudo qemu-nbd --disconnect /dev/nbd0
    - uses: actions/upload-artifact@v4
      with:
        name: output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
