name: init

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string

jobs:
  docker:
    runs-on: ubuntu-slim
    env:
      WORKDIR: ${{ github.workspace }}/recalbox
    steps:
    # Clone repo
    - run: |
        git clone --depth 1 --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "${{ env.WORKDIR }}"
    # Build Docker image
    - run: |
        docker build --tag recalbox "${{ env.WORKDIR }}"
        docker image save --output "${{ runner.temp }}/recalbox.tar" recalbox
    - uses: actions/upload-artifact@v4
      with:
        name: docker-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ runner.temp }}/recalbox.tar
  disk:
    runs-on: ubuntu-slim
    env:
      WORKDIR: /pool/recalbox
      OUTPUTDIR: /pool/output
      DL: /pool/dl
      HOST: /pool/host
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/recalbox.qcow2" 50G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/recalbox.qcow2"
        sudo zpool create -O compression=zstd pool /dev/nbd0
        sudo chown "$USER:$USER" /pool/
        mkdir "${{ env.OUTPUTDIR }}" "${{ env.DL }}" "${{ env.HOST }}"
    # Clone repo
    - run: |
        git clone --depth 1 --shallow-submodules --recurse-submodules --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "${{ env.WORKDIR }}"
    # Apply patch
    - uses: actions/checkout@v6
    - run: |
        (cd "${{ env.WORKDIR }}" && git apply "${{ github.workspace }}/patch/bass24.patch")
    # Export zpool
    - run: |
        zfs get all pool
        sudo zpool export pool
        sudo qemu-nbd --disconnect /dev/nbd0
    - uses: actions/upload-artifact@v4
      with:
        name: qcow2-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ runner.temp }}/recalbox.qcow2
        compression-level: 0
