name: init

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    # Restore cache
    - id: cache-docker
      uses: actions/cache@v4
      with:
        path: ${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
        key: recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
    # Build Docker image
    - if: steps.cache-docker.outputs.cache-hit != 'true'
      run: |
        git clone --depth 1 --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "${{ github.workspace }}/recalbox"
        docker build --tag recalbox "${{ github.workspace }}/recalbox"
        docker save recalbox | zstd -o "${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst"
    - uses: actions/upload-artifact@v4
      with:
        name: recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
        path: ${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
  work:
    runs-on: ubuntu-latest
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd -m /pool/work work /dev/nbd0
        sudo chown "$USER:$USER" /pool/work/
    # Clone repo
    - run: |
        git clone --depth 1 --shallow-submodules --recurse-submodules --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "/pool/work/recalbox/"
    # Apply patch
    - uses: actions/checkout@v6
    - run: |
        set -x
        cd "/pool/work/recalbox/"
        set +e
        git apply "${{ github.workspace }}/patch/bass24.patch"
        git apply "${{ github.workspace }}/patch/megatools.patch"
        git apply "${{ github.workspace }}/patch/libretro-melonds.patch"
        git apply "${{ github.workspace }}/patch/libretro-tamalibretro.patch"
        git apply "${{ github.workspace }}/patch/docker-ccache.patch"
    # Export zpool
    - run: |
        zfs get all work
        sudo zpool export work
        sudo qemu-nbd --disconnect /dev/nbd0
    - uses: actions/upload-artifact@v4
      with:
        name: work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
  dl:
    runs-on: ubuntu-latest
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd -m /pool/dl dl /dev/nbd0
        sudo chown "$USER:$USER" /pool/dl/
        ln -s /share/ftp/ /pool/dl/acl
        ln -s /share/ftp/ /pool/dl/alsa-lib
        ln -s /share/ftp/ /pool/dl/alsa-plugins
        ln -s /share/ftp/ /pool/dl/alsa-utils
        ln -s /share/ftp/ /pool/dl/attr
        ln -s /share/ftp/ /pool/dl/autoconf
        ln -s /share/ftp/ /pool/dl/autoconf-archive
        ln -s /share/ftp/ /pool/dl/automake
        ln -s /share/ftp/ /pool/dl/avahi
        ln -s /share/ftp/ /pool/dl/bash
        ln -s /share/ftp/ /pool/dl/bcm2835
        ln -s /share/ftp/ /pool/dl/bento4
        ln -s /share/ftp/ /pool/dl/binutils
        ln -s /share/ftp/ /pool/dl/bison
        ln -s /share/ftp/ /pool/dl/bluez5_utils
        ln -s /share/ftp/ /pool/dl/boost
        ln -s /share/ftp/ /pool/dl/brcmfmac_sdio-firmware-rpi
        ln -s /share/ftp/ /pool/dl/busybox
        ln -s /share/ftp/ /pool/dl/bzip2
        ln -s /share/ftp/ /pool/dl/ca-certificates
        ln -s /share/ftp/ /pool/dl/cairo
        ln -s /share/ftp/ /pool/dl/cifs-utils
        ln -s /share/ftp/ /pool/dl/clang
        ln -s /share/ftp/ /pool/dl/cmake
        ln -s /share/ftp/ /pool/dl/cmocka
        ln -s /share/ftp/ /pool/dl/crda
        ln -s /share/ftp/ /pool/dl/dav1d
        ln -s /share/ftp/ /pool/dl/dbus
        ln -s /share/ftp/ /pool/dl/dbus-cpp
        ln -s /share/ftp/ /pool/dl/dbus-python
        ln -s /share/ftp/ /pool/dl/dejavu
        ln -s /share/ftp/ /pool/dl/dhcpcd
        ln -s /share/ftp/ /pool/dl/diffutils
        ln -s /share/ftp/ /pool/dl/dos2unix
        ln -s /share/ftp/ /pool/dl/dosfstools
        ln -s /share/ftp/ /pool/dl/double-conversion
        ln -s /share/ftp/ /pool/dl/dropbear
        ln -s /share/ftp/ /pool/dl/dtc
        ln -s /share/ftp/ /pool/dl/e2fsprogs
        ln -s /share/ftp/ /pool/dl/elfutils
        ln -s /share/ftp/ /pool/dl/eudev
        ln -s /share/ftp/ /pool/dl/evtest
        ln -s /share/ftp/ /pool/dl/exfat
        ln -s /share/ftp/ /pool/dl/exfat-utils
        ln -s /share/ftp/ /pool/dl/expat
        ln -s /share/ftp/ /pool/dl/expect
        ln -s /share/ftp/ /pool/dl/faad2
        ln -s /share/ftp/ /pool/dl/fakeroot
        ln -s /share/ftp/ /pool/dl/fbdump
        ln -s /share/ftp/ /pool/dl/fbgrab
        ln -s /share/ftp/ /pool/dl/ffmpeg
        ln -s /share/ftp/ /pool/dl/flac
        ln -s /share/ftp/ /pool/dl/flatbuffers
        ln -s /share/ftp/ /pool/dl/flex
        ln -s /share/ftp/ /pool/dl/fluidsynth
        ln -s /share/ftp/ /pool/dl/fmt
        ln -s /share/ftp/ /pool/dl/fontconfig
        ln -s /share/ftp/ /pool/dl/freetype
        ln -s /share/ftp/ /pool/dl/fstrcmp
        ln -s /share/ftp/ /pool/dl/gawk
        ln -s /share/ftp/ /pool/dl/gcc
        ln -s /share/ftp/ /pool/dl/genimage
        ln -s /share/ftp/ /pool/dl/gesftpserver
        ln -s /share/ftp/ /pool/dl/gettext-tiny
        ln -s /share/ftp/ /pool/dl/giflib
        ln -s /share/ftp/ /pool/dl/glibc
        ln -s /share/ftp/ /pool/dl/glm
        ln -s /share/ftp/ /pool/dl/gmp
        ln -s /share/ftp/ /pool/dl/gnutls
        ln -s /share/ftp/ /pool/dl/gobject-introspection
        ln -s /share/ftp/ /pool/dl/gperf
        ln -s /share/ftp/ /pool/dl/harfbuzz
        ln -s /share/ftp/ /pool/dl/heimdal
        ln -s /share/ftp/ /pool/dl/hicolor-icon-theme
        ln -s /share/ftp/ /pool/dl/hidapi
        ln -s /share/ftp/ /pool/dl/htop
        ln -s /share/ftp/ /pool/dl/hwdata
        ln -s /share/ftp/ /pool/dl/i2c-tools
        ln -s /share/ftp/ /pool/dl/icu
        ln -s /share/ftp/ /pool/dl/isl
        ln -s /share/ftp/ /pool/dl/iw
        ln -s /share/ftp/ /pool/dl/jimtcl
        ln -s /share/ftp/ /pool/dl/jpeg-turbo
        ln -s /share/ftp/ /pool/dl/jsoncpp
        ln -s /share/ftp/ /pool/dl/json-for-modern-cpp
        ln -s /share/ftp/ /pool/dl/kbd
        ln -s /share/ftp/ /pool/dl/kmod
        ln -s /share/ftp/ /pool/dl/kodi
        ln -s /share/ftp/ /pool/dl/kodi-audiodecoder-modplug
        ln -s /share/ftp/ /pool/dl/kodi-audiodecoder-nosefart
        ln -s /share/ftp/ /pool/dl/kodi-audiodecoder-sidplay
        ln -s /share/ftp/ /pool/dl/kodi-audiodecoder-snesapu
        ln -s /share/ftp/ /pool/dl/kodi-audiodecoder-stsound
        ln -s /share/ftp/ /pool/dl/kodi-audiodecoder-timidity
        ln -s /share/ftp/ /pool/dl/kodi-audiodecoder-vgmstream
        ln -s /share/ftp/ /pool/dl/kodi-audioencoder-flac
        ln -s /share/ftp/ /pool/dl/kodi-audioencoder-lame
        ln -s /share/ftp/ /pool/dl/kodi-audioencoder-vorbis
        ln -s /share/ftp/ /pool/dl/kodi-audioencoder-wav
        ln -s /share/ftp/ /pool/dl/kodi-inputstream-adaptive
        ln -s /share/ftp/ /pool/dl/kodi-inputstream-ffmpegdirect
        ln -s /share/ftp/ /pool/dl/kodi-inputstream-rtmp
        ln -s /share/ftp/ /pool/dl/kodi-peripheral-joystick
        ln -s /share/ftp/ /pool/dl/kodi-peripheral-xarcade
        ln -s /share/ftp/ /pool/dl/kodi-pvr-argustv
        ln -s /share/ftp/ /pool/dl/kodi-pvr-dvblink
        ln -s /share/ftp/ /pool/dl/kodi-pvr-dvbviewer
        ln -s /share/ftp/ /pool/dl/kodi-pvr-filmon
        ln -s /share/ftp/ /pool/dl/kodi-pvr-hdhomerun
        ln -s /share/ftp/ /pool/dl/kodi-pvr-hts
        ln -s /share/ftp/ /pool/dl/kodi-pvr-iptvsimple
        ln -s /share/ftp/ /pool/dl/kodi-pvr-mediaportal-tvserver
        ln -s /share/ftp/ /pool/dl/kodi-pvr-mythtv
        ln -s /share/ftp/ /pool/dl/kodi-pvr-nextpvr
        ln -s /share/ftp/ /pool/dl/kodi-pvr-njoy
        ln -s /share/ftp/ /pool/dl/kodi-pvr-octonet
        ln -s /share/ftp/ /pool/dl/kodi-pvr-pctv
        ln -s /share/ftp/ /pool/dl/kodi-pvr-plutotv
        ln -s /share/ftp/ /pool/dl/kodi-pvr-stalker
        ln -s /share/ftp/ /pool/dl/kodi-pvr-vbox
        ln -s /share/ftp/ /pool/dl/kodi-pvr-vdr-vnsi
        ln -s /share/ftp/ /pool/dl/kodi-pvr-vuplus
        ln -s /share/ftp/ /pool/dl/kodi-pvr-waipu
        ln -s /share/ftp/ /pool/dl/kodi-pvr-wmc
        ln -s /share/ftp/ /pool/dl/kodi-pvr-zattoo
        ln -s /share/ftp/ /pool/dl/lame
        ln -s /share/ftp/ /pool/dl/lcms2
        ln -s /share/ftp/ /pool/dl/libaio
        ln -s /share/ftp/ /pool/dl/libao
        ln -s /share/ftp/ /pool/dl/libass
        ln -s /share/ftp/ /pool/dl/libb2
        ln -s /share/ftp/ /pool/dl/libcdio
        ln -s /share/ftp/ /pool/dl/libcec
        ln -s /share/ftp/ /pool/dl/libconfuse
        ln -s /share/ftp/ /pool/dl/libcrossguid
        ln -s /share/ftp/ /pool/dl/libcurl
        ln -s /share/ftp/ /pool/dl/libdaemon
        ln -s /share/ftp/ /pool/dl/libdisplay-info
        ln -s /share/ftp/ /pool/dl/libdrm
        ln -s /share/ftp/ /pool/dl/libepoxy
        ln -s /share/ftp/ /pool/dl/libevdev
        ln -s /share/ftp/ /pool/dl/libevent
        ln -s /share/ftp/ /pool/dl/libffi
        ln -s /share/ftp/ /pool/dl/libfreeimage
        ln -s /share/ftp/ /pool/dl/libfribidi
        ln -s /share/ftp/ /pool/dl/libfuse3
        ln -s /share/ftp/ /pool/dl/libgcrypt
        ln -s /share/ftp/ /pool/dl/libglew
        ln -s /share/ftp/ /pool/dl/libglib2
        ln -s /share/ftp/ /pool/dl/libglu
        ln -s /share/ftp/ /pool/dl/libgpg-error
        ln -s /share/ftp/ /pool/dl/libgudev
        ln -s /share/ftp/ /pool/dl/libhdhomerun
        ln -s /share/ftp/ /pool/dl/libidn
        ln -s /share/ftp/ /pool/dl/libinput
        ln -s /share/ftp/ /pool/dl/libjpeg
        ln -s /share/ftp/ /pool/dl/liblockfile
        ln -s /share/ftp/ /pool/dl/libmad
        ln -s /share/ftp/ /pool/dl/libmicrohttpd
        ln -s /share/ftp/ /pool/dl/libmodplug
        ln -s /share/ftp/ /pool/dl/libmpeg2
        ln -s /share/ftp/ /pool/dl/libnfs
        ln -s /share/ftp/ /pool/dl/libnl
        ln -s /share/ftp/ /pool/dl/libnspr
        ln -s /share/ftp/ /pool/dl/libnss
        ln -s /share/ftp/ /pool/dl/libogg
        ln -s /share/ftp/ /pool/dl/libopenssl
        ln -s /share/ftp/ /pool/dl/libpcap
        ln -s /share/ftp/ /pool/dl/libplatform
        ln -s /share/ftp/ /pool/dl/libplist
        ln -s /share/ftp/ /pool/dl/libpng
        ln -s /share/ftp/ /pool/dl/libpthread-stubs
        ln -s /share/ftp/ /pool/dl/libserialport
        ln -s /share/ftp/ /pool/dl/libshairplay
        ln -s /share/ftp/ /pool/dl/libsidplay2
        ln -s /share/ftp/ /pool/dl/libsndfile
        ln -s /share/ftp/ /pool/dl/libtasn1
        ln -s /share/ftp/ /pool/dl/libtheora
        ln -s /share/ftp/ /pool/dl/libtirpc
        ln -s /share/ftp/ /pool/dl/libtool
        ln -s /share/ftp/ /pool/dl/libunistring
        ln -s /share/ftp/ /pool/dl/libusb
        ln -s /share/ftp/ /pool/dl/libusb-compat
        ln -s /share/ftp/ /pool/dl/libvorbis
        ln -s /share/ftp/ /pool/dl/libvpx
        ln -s /share/ftp/ /pool/dl/libwebsockets
        ln -s /share/ftp/ /pool/dl/libxcb
        ln -s /share/ftp/ /pool/dl/libxcrypt
        ln -s /share/ftp/ /pool/dl/libxkbcommon
        ln -s /share/ftp/ /pool/dl/libxml2
        ln -s /share/ftp/ /pool/dl/libxslt
        ln -s /share/ftp/ /pool/dl/libyaml
        ln -s /share/ftp/ /pool/dl/libzip
        ln -s /share/ftp/ /pool/dl/libzlib
        ln -s /share/ftp/ /pool/dl/linux
        ln -s /share/ftp/ /pool/dl/linuxconsoletools
        ln -s /share/ftp/ /pool/dl/lirc-tools
        ln -s /share/ftp/ /pool/dl/llvm
        ln -s /share/ftp/ /pool/dl/llvm-cmake
        ln -s /share/ftp/ /pool/dl/lz4
        ln -s /share/ftp/ /pool/dl/lzip
        ln -s /share/ftp/ /pool/dl/lzo
        ln -s /share/ftp/ /pool/dl/m4
        ln -s /share/ftp/ /pool/dl/mariadb
        ln -s /share/ftp/ /pool/dl/mesa3d
        ln -s /share/ftp/ /pool/dl/meson
        ln -s /share/ftp/ /pool/dl/mpc
        ln -s /share/ftp/ /pool/dl/mpfr
        ln -s /share/ftp/ /pool/dl/mtdev
        ln -s /share/ftp/ /pool/dl/nasm
        ln -s /share/ftp/ /pool/dl/ncurses
        ln -s /share/ftp/ /pool/dl/nettle
        ln -s /share/ftp/ /pool/dl/nfs-utils
        ln -s /share/ftp/ /pool/dl/ninja
        ln -s /share/ftp/ /pool/dl/ntp
        ln -s /share/ftp/ /pool/dl/opus
        ln -s /share/ftp/ /pool/dl/pcre
        ln -s /share/ftp/ /pool/dl/pcre2
        ln -s /share/ftp/ /pool/dl/perl
        ln -s /share/ftp/ /pool/dl/perl-parse-yapp
        ln -s /share/ftp/ /pool/dl/pixman
        ln -s /share/ftp/ /pool/dl/pkgconf
        ln -s /share/ftp/ /pool/dl/popt
        ln -s /share/ftp/ /pool/dl/procps-ng
        ln -s /share/ftp/ /pool/dl/pugixml
        ln -s /share/ftp/ /pool/dl/pulseaudio
        ln -s /share/ftp/ /pool/dl/python3
        ln -s /share/ftp/ /pool/dl/python-cython
        ln -s /share/ftp/ /pool/dl/python-distlib
        ln -s /share/ftp/ /pool/dl/python-flit-core
        ln -s /share/ftp/ /pool/dl/python-glslang
        ln -s /share/ftp/ /pool/dl/python-gobject
        ln -s /share/ftp/ /pool/dl/python-installer
        ln -s /share/ftp/ /pool/dl/python-mako
        ln -s /share/ftp/ /pool/dl/python-markupsafe
        ln -s /share/ftp/ /pool/dl/python-packaging
        ln -s /share/ftp/ /pool/dl/python-pycryptodomex
        ln -s /share/ftp/ /pool/dl/python-pypa-build
        ln -s /share/ftp/ /pool/dl/python-pyproject-hooks
        ln -s /share/ftp/ /pool/dl/python-pyyaml
        ln -s /share/ftp/ /pool/dl/python-setuptools
        ln -s /share/ftp/ /pool/dl/python-wheel
        ln -s /share/ftp/ /pool/dl/qemu
        ln -s /share/ftp/ /pool/dl/rapidjson
        ln -s /share/ftp/ /pool/dl/readline
        ln -s /share/ftp/ /pool/dl/samba4
        ln -s /share/ftp/ /pool/dl/sbc
        ln -s /share/ftp/ /pool/dl/sdl
        ln -s /share/ftp/ /pool/dl/sdl2
        ln -s /share/ftp/ /pool/dl/slirp
        ln -s /share/ftp/ /pool/dl/spdlog
        ln -s /share/ftp/ /pool/dl/speexdsp
        ln -s /share/ftp/ /pool/dl/sqlite
        ln -s /share/ftp/ /pool/dl/squashfs
        ln -s /share/ftp/ /pool/dl/swig
        ln -s /share/ftp/ /pool/dl/sysvinit
        ln -s /share/ftp/ /pool/dl/taglib
        ln -s /share/ftp/ /pool/dl/tar
        ln -s /share/ftp/ /pool/dl/tcl
        ln -s /share/ftp/ /pool/dl/tinyxml
        ln -s /share/ftp/ /pool/dl/tinyxml2
        ln -s /share/ftp/ /pool/dl/unzip
        ln -s /share/ftp/ /pool/dl/usbutils
        ln -s /share/ftp/ /pool/dl/util-linux
        ln -s /share/ftp/ /pool/dl/vim
        ln -s /share/ftp/ /pool/dl/vulkan-headers
        ln -s /share/ftp/ /pool/dl/wayland
        ln -s /share/ftp/ /pool/dl/waylandpp
        ln -s /share/ftp/ /pool/dl/wayland-protocols
        ln -s /share/ftp/ /pool/dl/wget
        ln -s /share/ftp/ /pool/dl/x265
        ln -s /share/ftp/ /pool/dl/xcb-proto
        ln -s /share/ftp/ /pool/dl/xlib_libICE
        ln -s /share/ftp/ /pool/dl/xlib_libSM
        ln -s /share/ftp/ /pool/dl/xlib_libX11
        ln -s /share/ftp/ /pool/dl/xlib_libXau
        ln -s /share/ftp/ /pool/dl/xlib_libXdamage
        ln -s /share/ftp/ /pool/dl/xlib_libXdmcp
        ln -s /share/ftp/ /pool/dl/xlib_libXext
        ln -s /share/ftp/ /pool/dl/xlib_libXfixes
        ln -s /share/ftp/ /pool/dl/xlib_libXi
        ln -s /share/ftp/ /pool/dl/xlib_libXmu
        ln -s /share/ftp/ /pool/dl/xlib_libXrandr
        ln -s /share/ftp/ /pool/dl/xlib_libXrender
        ln -s /share/ftp/ /pool/dl/xlib_libXScrnSaver
        ln -s /share/ftp/ /pool/dl/xlib_libxshmfence
        ln -s /share/ftp/ /pool/dl/xlib_libXt
        ln -s /share/ftp/ /pool/dl/xlib_libXxf86vm
        ln -s /share/ftp/ /pool/dl/xlib_xtrans
        ln -s /share/ftp/ /pool/dl/xmlstarlet
        ln -s /share/ftp/ /pool/dl/xorgproto
        ln -s /share/ftp/ /pool/dl/xutil_util-macros
        ln -s /share/ftp/ /pool/dl/xz
        ln -s /share/ftp/ /pool/dl/zstd
    # Export zpool
    - run: |
        zfs get all dl
        sudo zpool export dl
        sudo qemu-nbd --disconnect /dev/nbd0
    - uses: actions/upload-artifact@v4
      with:
        name: dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
  host:
    runs-on: ubuntu-latest
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd -m /pool/host host /dev/nbd0
        sudo chown "$USER:$USER" /pool/host/
    # Export zpool
    - run: |
        zfs get all host
        sudo zpool export host
        sudo qemu-nbd --disconnect /dev/nbd0
    - uses: actions/upload-artifact@v4
      with:
        name: host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
  output:
    runs-on: ubuntu-latest
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd -m /pool/output output /dev/nbd0
        sudo chown "$USER:$USER" /pool/output/
        mkdir --parents /pool/output/build/.npm
    # Export zpool
    - run: |
        zfs get all output
        sudo zpool export output
        sudo qemu-nbd --disconnect /dev/nbd0
    - uses: actions/upload-artifact@v4
      with:
        name: output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
