name: init

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    # Restore cache
    - name: "Cache Docker image"
      id: cache-docker
      uses: actions/cache@v4
      with:
        path: ${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
        key: recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
    # Checkout patch
    - name: "Checkout patches"
      if: steps.cache-docker.outputs.cache-hit != 'true'
      uses: actions/checkout@v6
    # Build Docker image
    - name: "Build & save Docker image"
      if: steps.cache-docker.outputs.cache-hit != 'true'
      run: |
        git clone --depth 1 --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "${{ github.workspace }}/recalbox"
        (cd "${{ github.workspace }}/recalbox" && git apply "${{ github.workspace }}/patch/docker-ccache.patch")
        docker build --tag recalbox "${{ github.workspace }}/recalbox"
        docker save recalbox | zstd -o "${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst"
    - name: "Upload artifact Docker image"
      uses: actions/upload-artifact@v4
      with:
        name: recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
        path: ${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
  disk0:
    runs-on: ubuntu-latest
    steps:
    # Install dependencies
    - name: "Install dependencies"
      run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - name: "Create disk 0"
      run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/disk0-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/disk0-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd -m /pool/disk0 disk0 /dev/nbd0
        sudo chown "$USER:$USER" /pool/disk0/
    # Clone repo
    - name: "Clone recalbox"
      run: |
        git clone --depth 1 --shallow-submodules --recurse-submodules --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "/pool/disk0/recalbox/"
    # Apply patch
    - name: "Checkout patches"
      uses: actions/checkout@v6
    - name: "Apply patches"
      run: |
        set -x
        cd "/pool/disk0/recalbox/"
        set +e
        git apply "${{ github.workspace }}/patch/recalbox-themes.patch"
        git apply "${{ github.workspace }}/patch/libretro-melonds.patch"
        git apply "${{ github.workspace }}/patch/libretro-tamalibretro.patch"
    # Export zpool
    - name: "Export & disconnect disk 0"
      run: |
        zfs get all disk0
        sudo zpool export disk0
        sudo qemu-nbd --disconnect /dev/nbd0
    - name: "Upload artifact disk 0"
      uses: actions/upload-artifact@v4
      with:
        name: disk0-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/disk0-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
  disk1:
    runs-on: ubuntu-latest
    steps:
    # Install dependencies
    - name: "Install dependencies"
      run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils
    - name: "Create disk 1"
      run: |
        set -x
        sudo modprobe nbd nbds_max=1
        qemu-img create -f qcow2 "${{ runner.temp }}/disk1-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/disk1-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd -m /pool/disk1 disk1 /dev/nbd0
        sudo chown "$USER:$USER" /pool/disk1/
        mkdir --parents /pool/disk1/.npm/ /pool/disk1/output/
    # Export zpool
    - name: "Export & disconnect disk 1"
      run: |
        zfs get all disk1
        sudo zpool export disk1
        sudo qemu-nbd --disconnect /dev/nbd0
    - name: "Upload artifact disk 1"
      uses: actions/upload-artifact@v4
      with:
        name: disk1-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/disk1-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
