name: init

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        default: '10.0-patron-4'
        required: true
        type: string
      arch:
        description: 'Architecture'
        default: 'rpi5_64'
        required: true
        type: string

jobs:
  init:
    runs-on: ubuntu-latest
    env:
      WORKDIR: ${{ github.workspace }}/recalbox
      OUTPUTDIR: ${{ github.workspace }}/output
      CCACHEDIR: ${{ github.workspace }}/ccache
      DL: ${{ github.workspace }}/dl
      HOST: ${{ github.workspace }}/host
    steps:
    # Clone repo
    - run: |
        git clone --depth 1 --shallow-submodules --recurse-submodules --branch "${{ inputs.tag }}" https://gitlab.com/recalbox/recalbox.git "${{ env.WORKDIR }}"
    - uses: actions/upload-artifact@v4
      with:
        name: workdir-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ env.WORKDIR }}
        include-hidden-files: true
    # Build Docker image
    - run: |
        docker build --tag recalbox "${{ env.WORKDIR }}"
        docker image save --output "${{ runner.temp }}/recalbox.tar" recalbox
    - uses: actions/upload-artifact@v4
      with:
        name: docker-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ runner.temp }}/recalbox.tar
    # Create directories
    - run: |
        mkdir --parents "${{ env.OUTPUTDIR }}" "${{ env.CCACHEDIR }}" "${{ env.DL }}" "${{ env.HOST }}"
        touch "${{ env.OUTPUTDIR }}/.keep"
        touch "${{ env.CCACHEDIR }}/.keep"
        touch "${{ env.DL }}/.keep"
        touch "${{ env.HOST }}/.keep"
    - uses: actions/upload-artifact@v4
      with:
        name: outdir-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ env.OUTPUTDIR }}
        include-hidden-files: true
    - uses: actions/upload-artifact@v4
      with:
        name: ccachedir-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ env.CCACHEDIR }}
        include-hidden-files: true
    - uses: actions/upload-artifact@v4
      with:
        name: dl-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ env.DL }}
        include-hidden-files: true
    - uses: actions/upload-artifact@v4
      with:
        name: host-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ env.HOST }}
        include-hidden-files: true
