name: make

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
      timeout:
        type: number
        default: 14400 # 4 hours
      extra_args:
        type: string
        default: ''
      ccache:
        type: boolean
        default: false
      ccache_size:
        type: number
        default: 8
      remote_storage:
        type: boolean
        default: true
      release:
        type: boolean
        default: false
    outputs:
      status:
        value: ${{ jobs.make.outputs.status }}

jobs:
  make:
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.make.outputs.status }}
    steps:
    - uses: actions/checkout@v6
      if: inputs.release
    - name: "Install dependencies"
      run: |
        sudo apt update
        sudo apt install --yes ccache zfsutils-linux
    - name: "Free disk space"
      uses: endersonmenezes/free-disk-space@v3
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_tool_cache: true
        remove_swap: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
        rm_cmd: "rmz"
        rmz_version: "3.1.1"
        testing: false
    - name: "Create ZFS"
      run: |
        set -x
        device=$(findmnt --noheadings --output SOURCE /mnt/)
        if [ -b "$device" ]
        then
          device=$(lsblk --noheadings --paths --output PKNAME "$device")
          sudo umount --quiet "$device"*
        else
          device=${{ runner.temp }}/mnt.raw
          truncate -s 70G "$device"
        fi
        sudo zpool create -O compression=zstd mnt "$device"
    - name: "Download Recalbox"
      uses: actions/download-artifact@v5
      with:
        name: recalbox-${{ inputs.tag }}-${{ inputs.arch }}
    - name: "Import Recalbox"
      run: |
        set -x
        zstdcat "recalbox-${{ inputs.tag }}.zfs.zst" | sudo zfs receive -F mnt
        sudo zfs destroy mnt@%
        rm "recalbox-${{ inputs.tag }}.zfs.zst"
    - name: "Load Docker image"
      run: |
        docker load --input /mnt/recalbox.tar
    - name: "Download ccache"
      if: inputs.ccache
      id: download-ccache
      continue-on-error: true
      uses: actions/download-artifact@v5
      with:
        name: ccache-${{ inputs.arch }}
    - name: "Extract & cleanup ccache"
      if: inputs.ccache && steps.download-ccache.outcome == 'success'
      run: |
        tar -xf "ccache-${{ inputs.arch }}.tar.zst"
        rm "ccache-${{ inputs.arch }}.tar.zst"
        CCACHE_DIR="${{ github.workspace }}/ccache" ccache -M "${{ inputs.ccache_size }}G" --cleanup
    - name: "Create ccache"
      if: inputs.ccache && steps.download-ccache.outcome != 'success'
      run: |
        mkdir ccache/
        CCACHE_DIR="${{ github.workspace }}/ccache" ccache -M "${{ inputs.ccache_size }}G"
    - name: "Create dl"
      run: |
        mkdir dl/
    - name: "Debug"
      if: always()
      continue-on-error: true
      run: |
        set -x +e
        ls -lh . /mnt
        df -h
        du -hs ccache/ dl/ /mnt/*
        CCACHE_DIR="${{ github.workspace }}/ccache" ccache -s
    - name: "Make"
      id: make
      run: |
        echo "::add-mask::${{ secrets.MASK_0 }}"
        set -x
        readonly timeout_sec="${{ inputs.timeout }}"
        current_time_sec=$(date +%s)
        end_time_sec=$((current_time_sec + timeout_sec))
        (sleep "$timeout_sec" ; docker exec --user root recalbox sh -c "chmod -x /usr/bin/make") &
        if docker run --rm --security-opt seccomp=unconfined \
          --name recalbox \
          --volume "/mnt/recalbox/:/work/" \
          --volume "/mnt/output/:/work/output/" \
          --volume "/mnt/output/build/.npm/:/.npm/" \
          --volume "${{ github.workspace }}/dl/:/share/dl/" \
          --volume "${{ github.workspace }}/ccache/:/share/ccache" \
          --env "ARCH=${{ inputs.arch }}" \
          --env "RECALBOX_VERSION=${{ inputs.tag }}" \
          --env "FORCE_UNSAFE_CONFIGURE=1" \
          --env "PACKAGE=BR2_BACKUP_SITE=\"${{ secrets.BR2_BACKUP_SITE }}\" ${{ inputs.extra_args }}" \
          --env "RECALBOX_CCACHE_ENABLED=${{ inputs.ccache && 'y' || '' }}" \
          --env "RECALBOX_CCACHE_MAX_SIZE=${{ inputs.ccache_size }}G" \
          --user "$(id --user):$(id --group)" \
          recalbox
        then
          echo "status=success" >> "$GITHUB_OUTPUT"
        else
          current_time_sec=$(date +%s)
          if [ "$current_time_sec" -lt "$end_time_sec" ]
          then
            echo "status=failure" >> "$GITHUB_OUTPUT"
            exit 1
          else
            echo "status=continue" >> "$GITHUB_OUTPUT"
          fi
        fi
    - name: "Debug"
      if: always()
      continue-on-error: true
      run: |
        set -x +e
        ls -lh . /mnt/
        df -h
        du -hs ccache/ dl/ /mnt/*
        CCACHE_DIR="${{ github.workspace }}/ccache" ccache -s
        ls -lh /mnt/output/images/recalbox/
    - name: "Upload images"
      if: steps.make.outputs.status == 'success' && ! inputs.release
      uses: actions/upload-artifact@v4
      with:
        name: image-${{ inputs.arch }}
        path: /mnt/output/images/recalbox/*.img*
        compression-level: 0
    - name: "Release images"
      if: steps.make.outputs.status == 'success' && inputs.release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release upload --clobber "${{ inputs.tag }}" /mnt/output/images/recalbox/*.img*
    - name: "Compress ccache"
      if: inputs.ccache
      run: |
        tar --remove-files -caf ccache-${{ inputs.arch }}.tar.zst ccache/
    - name: "Upload ccache"
      if: inputs.ccache
      uses: actions/upload-artifact@v4
      with:
        name: ccache-${{ inputs.arch }}
        path: ccache-${{ inputs.arch }}.tar.zst
        compression-level: 0
        overwrite: true
    - name: "Clear cache"
      if: inputs.ccache
      run: |
        rm -rf ccache/ ccache-${{ inputs.arch }}.tar.zst
    - name: "Cleanup dl"
      run: |
        find dl/ -mindepth 2 -maxdepth 2 -type d -exec rm -rf "{}" \;
    - name: "Upload dl"
      uses: actions/upload-artifact@v4
      with:
        name: dl-${{ inputs.arch }}
        path: dl/
        compression-level: 0
        overwrite: true
    - name: "Clear dl"
      run: |
        rm -rf dl/
    - name: "Export Recalbox"
      run: |
        sudo zfs snapshot "mnt@make-${{ job.check_run_id }}"
        sudo zfs send "mnt@make-${{ job.check_run_id }}" | zstd --fast -o "recalbox-${{ inputs.tag }}.zfs.zst"
    - name: "Upload Recalbox"
      uses: actions/upload-artifact@v4
      with:
        name: recalbox-${{ inputs.tag }}-${{ inputs.arch }}
        path: recalbox-${{ inputs.tag }}.zfs.zst
        compression-level: 0
        overwrite: true
  upload:
    if: inputs.remote_storage
    needs: make
    concurrency:
      group: lock-remote-storage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: "Decrypt remote-storage"
      run: |
        gpg --decrypt --batch --passphrase="${{ secrets.REMOTE_STORAGE_GPG_PASSPHRASE }}" --output=bin/remote-storage bin/remote-storage.gpg
        chmod +x bin/remote-storage
    - uses: actions/download-artifact@v5
      with:
        name: dl-${{ inputs.arch }}
        path: dl/
    - name: "Upload dl"
      continue-on-error: true
      run: |
        echo "::add-mask::${{ secrets.MASK_0 }}"
        (cd dl/ && find . -maxdepth 2 -type f -exec sh -c 'wget --quiet --spider "${{ secrets.BR2_BACKUP_SITE }}/$1" || "${{ github.workspace }}/bin/remote-storage" upload "$1"' shell {} \;)
    - name: "Cleanup dl"
      continue-on-error: true
      run: |
        rm -r dl/
    - uses: actions/download-artifact@v5
      if: inputs.ccache
      with:
        name: ccache-${{ inputs.arch }}
    - name: "Upload ccache"
      if: inputs.ccache
      continue-on-error: true
      run: |
        echo "::add-mask::${{ secrets.MASK_0 }}"
        "${{ github.workspace }}/bin/remote-storage" upload "ccache-${{ inputs.arch }}.tar.zst"
    - name: "Cleanup ccache"
      if: inputs.ccache
      continue-on-error: true
      run: |
        rm "ccache-${{ inputs.arch }}.tar.zst"
