name: nibble

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
      timeout:
        type: number
        default: 18000 # 5 hours
      build_extra_args:
        type: string
        default: ""
      ccache_on:
        type: boolean
        default: true
    outputs:
      status:
        value: ${{ jobs.build.outputs.status }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.build.outputs.status }}
    steps:
    # Install dependencies
    - name: "Install dependencies"
      run: |
        set -x
        mkdir --parents "${{ runner.temp }}/dev/" "${{ runner.temp }}/ccache/"
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils tree
        sudo modprobe nbd nbds_max=4
        ln --symbolic /dev/nbd0 "${{ runner.temp }}/dev/work"
        ln --symbolic /dev/nbd1 "${{ runner.temp }}/dev/host"
        ln --symbolic /dev/nbd2 "${{ runner.temp }}/dev/dl"
        ln --symbolic /dev/nbd3 "${{ runner.temp }}/dev/output"
    # Import docker image
    - name: "Download artifact Docker image"
      uses: actions/download-artifact@v5
      with:
        name: recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst
        path: ${{ runner.temp }}
    - name: "Load Docker image"
      run: |
        zstdcat "${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst" | docker load
        rm "${{ runner.temp }}/recalbox-${{ inputs.tag }}-${{ inputs.arch }}.tar.zst"
    # Free disk space
    - name: "Free disk space"
      uses: endersonmenezes/free-disk-space@v3
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_tool_cache: true
        remove_swap: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
        rm_cmd: "rmz"
        rmz_version: "3.1.1"
        testing: false
    # Disk space available
    - name: "Available disk space"
      if: always()
      run: df --human-readable
    # Import zpool
    - name: "Create qcow2 & zpool - dl"
      run: |
        set -x
        qemu-img create -f qcow2 "${{ runner.temp }}/dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2" 64G
        sudo qemu-nbd --connect "${{ runner.temp }}/dev/dl" --format qcow2 "${{ runner.temp }}/dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool create -O compression=zstd -m /pool/dl dl "${{ runner.temp }}/dev/dl"
        sudo chown "$USER:$USER" /pool/dl/
    - name: "Download artifact qcow2 & zpool - work"
      uses: actions/download-artifact@v5
      with:
        name: work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}
    - name: "Connect qcow2 & import zpool - work"
      run: |
        set -x
        sudo qemu-nbd --connect "${{ runner.temp }}/dev/work" --format qcow2 "${{ runner.temp }}/work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool import -d "${{ runner.temp }}/dev/" work
        zfs get all work
    - name: "Download artifact qcow2 & zpool - host"
      uses: actions/download-artifact@v5
      with:
        name: host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}
    - name: "Connect qcow2 & import zpool - host"
      run: |
        set -x
        sudo qemu-nbd --connect "${{ runner.temp }}/dev/host" --format qcow2 "${{ runner.temp }}/host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool import -d "${{ runner.temp }}/dev/" host
        zfs get all host
    - name: "Download artifact qcow2 & zpool - output"
      uses: actions/download-artifact@v5
      with:
        name: output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}
    - name: "Connect qcow2 & import zpool - output"
      run: |
        set -x
        sudo qemu-nbd --connect "${{ runner.temp }}/dev/output" --format qcow2 "${{ runner.temp }}/output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2"
        sudo zpool import -d "${{ runner.temp }}/dev/" output
        zfs get all output
    # Cache
    - name: "Restore cache"
      if: inputs.ccache_on
      id: cache-ccache-restore
      uses: actions/cache/restore@v4
      with:
        key: ccache-${{ inputs.arch }}-${{ github.run_id }}-${{ job.check_run_id }}
        restore-keys: ccache-${{ inputs.arch }}
        path: ${{ runner.temp }}/ccache/
    # Build
    - name: "Build"
      id: build
      run: |
        set -x
        readonly timeout_sec="${{ inputs.timeout }}"
        current_time_sec=$(date +%s)
        end_time_sec=$((current_time_sec + timeout_sec))
        (sleep "$timeout_sec" ; docker exec --user root recalbox sh -c "chmod -x /usr/bin/make") &
        cd "/pool/work/recalbox/"
        if docker run --rm --security-opt seccomp=unconfined \
          --name recalbox \
          --volume "/pool/work/recalbox/:/work/" \
          --volume "/pool/output/:/work/output/" \
          --volume "/pool/dl/:/share/dl/" \
          --volume "/pool/host/:/share/host/" \
          --volume "/pool/output/build/.npm:/.npm" \
          --volume "${{ runner.temp }}/ccache/:/share/ccache" \
          --env "ARCH=${{ inputs.arch }}" \
          --env "RECALBOX_VERSION=${{ inputs.tag }}" \
          --env "FORCE_UNSAFE_CONFIGURE=1" \
          --env "PACKAGE=${{ inputs.build_extra_args }}" \
          --env "RECALBOX_CCACHE_ENABLED=${{ inputs.ccache_on && 'y' || '' }}" \
          --env "RECALBOX_CCACHE_MAX_SIZE=9G" \
          --user "$(id --user):$(id --group)" \
          recalbox
        then
          echo "status=success" >> "$GITHUB_OUTPUT"
          tree "/pool/output/"
        else
          current_time_sec=$(date +%s)
          if [ "$current_time_sec" -lt "$end_time_sec" ]
          then
            echo "status=failure" >> "$GITHUB_OUTPUT"
            exit 1
          else
            echo "status=continue" >> "$GITHUB_OUTPUT"
          fi
        fi
    # Disk space available
    - name: "Available disk space"
      if: always()
      run: |
        ls --human-readable -l "${{ runner.temp }}"
        df --human-readable
    # Cache
    - name: "Clear cache"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        set -x
        cache_keys=$(gh cache list --key "ccache-${{ inputs.arch }}" --json id --jq ".[].id")
        set +e
        for cache_key in $cache_keys
        do
            gh cache delete "$cache_key"
        done
    - name: "Save cache"
      id: cache-ccache-save
      if: inputs.ccache_on
      uses: actions/cache/save@v4
      with:
        key: ${{ steps.cache-ccache-restore.outputs.cache-primary-key }}
        path: ${{ runner.temp }}/ccache/
    # Export zpool
    - name: "Export zpool & disconnect qcow2"
      run: |
        set -x
        zfs get all work
        zfs get all host
        zfs get all dl
        zfs get all output
        sudo zpool export work
        sudo zpool export host
        sudo zpool export dl
        sudo zpool export output
        sudo qemu-nbd --disconnect "${{ runner.temp }}/dev/work"
        sudo qemu-nbd --disconnect "${{ runner.temp }}/dev/host"
        sudo qemu-nbd --disconnect "${{ runner.temp }}/dev/dl"
        sudo qemu-nbd --disconnect "${{ runner.temp }}/dev/output"
    - name: "Upload artifact qcow2 & zpool - dl"
      uses: actions/upload-artifact@v4
      with:
        name: ${{ job.check_run_id }}-dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/dl-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
    - name: "Upload artifact qcow2 & zpool - work"
      uses: actions/upload-artifact@v4
      with:
        name: work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/work-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
        overwrite: true
    - name: "Upload artifact qcow2 & zpool - host"
      uses: actions/upload-artifact@v4
      with:
        name: host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/host-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
        overwrite: true
    - name: "Upload artifact qcow2 & zpool - output"
      uses: actions/upload-artifact@v4
      with:
        name: output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        path: ${{ runner.temp }}/output-${{ inputs.tag }}-${{ inputs.arch }}.zpool.qcow2
        compression-level: 0
        overwrite: true
