name: nibble

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
      timeout:
        type: number
        default: 16200 # 4.5 hours
      build_extra_args:
        type: string
        default: ""
      ccache:
        type: boolean
        default: true
      upload_dl:
        type: boolean
        default: true
      debug:
        type: boolean
        default: false
    outputs:
      status:
        value: ${{ jobs.build.outputs.status }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.build.outputs.status }}
      dl_artifact_name: dl-${{ inputs.tag }}-${{ inputs.arch }}-${{ job.check_run_id }}
    steps:
    - name: "Install dependencies"
      run: |
        sudo apt update
        sudo apt install -y ccache
    - name: "Free disk space"
      uses: endersonmenezes/free-disk-space@v3
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_tool_cache: true
        remove_swap: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
        rm_cmd: "rmz"
        rmz_version: "3.1.1"
        testing: false
    - name: "Download output"
      id: download-recalbox-output
      continue-on-error: true
      uses: actions/download-artifact@v5
      with:
        name: recalbox-${{ inputs.tag }}-${{ inputs.arch }}-output
    - name: "Extract output"
      if: steps.download-recalbox-output.outcome == 'success'
      run: |
        sudo chown "$USER:$USER" /mnt/
        tar -xf "recalbox-${{ inputs.tag }}-${{ inputs.arch }}-output.tar.zst" -C /mnt/
        rm "recalbox-${{ inputs.tag }}-${{ inputs.arch }}-output.tar.zst"
    - name: "Create output"
      if: steps.download-recalbox-output.outcome != 'success'
      run: |
        sudo chown "$USER:$USER" /mnt/
        mkdir -p /mnt/output/build/.npm/
    - name: "Download source"
      uses: actions/download-artifact@v5
      with:
        name: recalbox-${{ inputs.tag }}-source
    - name: "Extract source"
      run: |
        tar -xf "recalbox-${{ inputs.tag }}-source.tar.zst"
        rm "recalbox-${{ inputs.tag }}-source.tar.zst"
    - name: "Download Docker image"
      uses: actions/download-artifact@v5
      with:
        name: recalbox-${{ inputs.tag }}-docker-image
    - name: "Load Docker image"
      run: |
        zstdcat "recalbox-${{ inputs.tag }}-docker-image.tar.zst" | docker load
        rm "recalbox-${{ inputs.tag }}-docker-image.tar.zst"
    - name: "Restore ccache"
      if: inputs.ccache
      id: cache-restore-ccache
      uses: actions/cache/restore@v4
      with:
        key: ccache-${{ github.run_id }}-${{ job.check_run_id }}
        restore-keys: ccache
        path: ccache.tar.zst
    - name: "Extract ccache"
      if: inputs.ccache && steps.cache-restore-ccache.outputs.cache-matched-key != ''
      run: |
        tar -xf ccache.tar.zst
        rm ccache.tar.zst
        CCACHE_DIR=${{ github.workspace }}/ccache ccache --cleanup
    - name: "Create ccache"
      if: inputs.ccache && steps.cache-restore-ccache.outputs.cache-matched-key == ''
      run: |
        mkdir ccache/
    - name: "Create dl"
      run: |
        mkdir dl/
    - name: "Debug"
      if: always() && inputs.debug
      continue-on-error: true
      run: |
        set -x +e
        ls -l
        df -h
        du -hs ccache/ dl/ recalbox/ /mnt/output/
        CCACHE_DIR=${{ github.workspace }}/ccache ccache -s
    - name: "Build Recalbox"
      id: build
      run: |
        set -x
        readonly timeout_sec="${{ inputs.timeout }}"
        current_time_sec=$(date +%s)
        end_time_sec=$((current_time_sec + timeout_sec))
        (sleep "$timeout_sec" ; docker exec --user root recalbox sh -c "chmod -x /usr/bin/make") &
        if docker run --rm --security-opt seccomp=unconfined \
          --name recalbox \
          --volume "${{ github.workspace }}/recalbox/:/work/" \
          --volume "/mnt/output/:/work/output/" \
          --volume "/mnt/output/build/.npm/:/.npm/" \
          --volume "${{ github.workspace }}/dl/:/share/dl/" \
          --volume "${{ github.workspace }}/ccache/:/share/ccache" \
          --env "ARCH=${{ inputs.arch }}" \
          --env "RECALBOX_VERSION=${{ inputs.tag }}" \
          --env "FORCE_UNSAFE_CONFIGURE=1" \
          --env "PACKAGE=BR2_BACKUP_SITE=\"${{ secrets.BR2_BACKUP_SITE }}\" ${{ inputs.build_extra_args }}" \
          --env "RECALBOX_CCACHE_ENABLED=${{ inputs.ccache && 'y' || '' }}" \
          --env "RECALBOX_CCACHE_MAX_SIZE=8G" \
          --user "$(id --user):$(id --group)" \
          recalbox
        then
          echo "status=success" >> "$GITHUB_OUTPUT"
        else
          current_time_sec=$(date +%s)
          if [ "$current_time_sec" -lt "$end_time_sec" ]
          then
            echo "status=failure" >> "$GITHUB_OUTPUT"
            exit 1
          else
            echo "status=continue" >> "$GITHUB_OUTPUT"
          fi
        fi
    - name: "Debug"
      if: always() && inputs.debug
      continue-on-error: true
      run: |
        set -x +e
        ls -l
        df -h
        du -hs ccache/ dl/ recalbox/ /mnt/output/
#        CCACHE_DIR=${{ github.workspace }}/ccache ccache -s
    - name: "Upload images"
      if: steps.build.outputs.status == 'success'
      uses: actions/upload-artifact@v4
      with:
        name: recalbox-${{ inputs.tag }}-${{ inputs.arch }}-output
        path: /mnt/output/images/
        compression-level: 0
    - name: "Clear source"
      if: always()
      run: |
        rm -rf recalbox/
    - name: "Delete previous cache"
      if: always() && inputs.ccache
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        set -x
        cache_keys=$(gh cache list --repo "${{ github.repository }}" --key ccache --json id --jq ".[].id")
        set +e
        for cache_key in $cache_keys
        do
            gh cache delete --repo "${{ github.repository }}" "$cache_key"
        done
    - name: "Compress cache"
      if: always() && inputs.ccache
      run: |
        tar --remove-files -caf ccache.tar.zst ccache/
    - name: "Save cache"
      if: always() && inputs.ccache
      uses: actions/cache/save@v4
      with:
        key: ${{ steps.cache-restore-ccache.outputs.cache-primary-key }}
        path: ccache.tar.zst
    - name: "Clear cache"
      if: always() && inputs.ccache
      run: |
        rm -rf ccache/ ccache.tar.zst
    - name: "Prepare dl"
      if: always() && inputs.upload_dl
      run: |
        find dl/ -mindepth 2 -maxdepth 2 -type d -exec rm -rf "{}" \;
    - name: "Upload dl"
      if: always() && inputs.upload_dl
      uses: actions/upload-artifact@v4
      with:
        name: recalbox-dl-${{ job.check_run_id }}
        path: dl/
        compression-level: 0
    - name: "Clear dl"
      if: always()
      run: |
        rm -rf dl/
    - name: "Compress output"
      run: |
        tar -caf recalbox-${{ inputs.tag }}-${{ inputs.arch }}-output.tar.zst -C /mnt/ output/
    - name: "Upload output"
      uses: actions/upload-artifact@v4
      with:
        name: recalbox-${{ inputs.tag }}-${{ inputs.arch }}-output
        path: recalbox-${{ inputs.tag }}-${{ inputs.arch }}-output.tar.zst
        compression-level: 0
        overwrite: true
