name: nibble

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      arch:
        required: true
        type: string
      timeout:
        type: number
        default: 18000 # 5 hours

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      RECALBOX_VERSION: ${{ inputs.tag }}
      WORKDIR: /pool/recalbox
      OUTPUTDIR: /pool/output
      DL: /pool/dl
      HOST: /pool/host
    steps:
    # Install dependencies
    - run: |
        sudo apt update
        sudo apt install --yes zfsutils-linux qemu-utils tree
    # Import docker image
    - uses: actions/download-artifact@v5
      with:
        name: docker-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ runner.temp }}
    - run: |
        docker load --input "${{ runner.temp }}/recalbox.tar"
        rm "${{ runner.temp }}/recalbox.tar"
    # Free disk space
    - uses: endersonmenezes/free-disk-space@v3
      with:
        remove_android: true
        remove_dotnet: true
        remove_haskell: true
        remove_tool_cache: true
        remove_swap: true
        remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
        remove_packages_one_command: true
        remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell /usr/local/julia /usr/local/aws-cli /usr/local/aws-sam-cli /usr/share/gradle"
        rm_cmd: "rmz"
        rmz_version: "3.1.1"
        testing: false
    # Disk space available
    - if: always()
      run: df --human-readable
    # Import zpool
    - uses: actions/download-artifact@v5
      with:
        name: qcow2-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ runner.temp }}
    - run: |
        set -x
        sudo modprobe nbd nbds_max=1
        sudo qemu-nbd --connect /dev/nbd0 --format qcow2 "${{ runner.temp }}/recalbox.qcow2"
        mkdir --parents "${{ runner.temp }}/dev"
        ln --symbolic /dev/nbd0 "${{ runner.temp }}/dev/"
        sudo zpool import -d "${{ runner.temp }}/dev/" pool
        zfs get all pool
    # Build
    - run: |
        set -x
        readonly timeout_sec="${{ inputs.timeout }}"
        current_time_sec=$(date +%s)
        end_time_sec=$((current_time_sec + timeout_sec))
        (sleep "$timeout_sec" ; docker exec --user root recalbox sh -c "chmod -x /usr/bin/make") &
        cd "${{ env.WORKDIR }}"
        if docker run --rm --security-opt seccomp=unconfined \
          --name recalbox \
          --volume "${{ env.WORKDIR }}:/work" \
          --volume "${{ env.OUTPUTDIR }}:/work/output" \
          --volume "${{ env.DL }}:/share/dl" \
          --volume "${{ env.HOST }}:/share/host" \
          --env "ARCH=${{ inputs.arch }}" \
          --env "RECALBOX_VERSION=${{ env.RECALBOX_VERSION }}" \
          --env "FORCE_UNSAFE_CONFIGURE=1" \
          --user "$(id --user):$(id --group)" \
          recalbox
        then
          tree "${{ env.OUTPUTDIR }}"
        else
          current_time_sec=$(date +%s)
          if [ "$current_time_sec" -lt "$end_time_sec" ]
          then
            exit 1
          fi
        fi
    # Disk space available
    - if: always()
      run: df --human-readable
    # Export zpool
    - run: |
        zfs get all pool
        sudo zpool export pool
        sudo qemu-nbd --disconnect /dev/nbd0
    - uses: actions/upload-artifact@v4
      with:
        name: qcow2-${{ inputs.tag }}-${{ inputs.arch }}
        path: ${{ runner.temp }}/recalbox.qcow2
        compression-level: 0
        overwrite: true
