name: release

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch: 
    inputs:
      tag:
        type: string
        required: true
      arch_odroidgo2:
        type: boolean
        default: false
      arch_rg353x:
        type: boolean
        default: true
      arch_rpi3:
        type: boolean
        default: true
      arch_rpi4_64:
        type: boolean
        default: true
      arch_rpi5_64:
        type: boolean
        default: true
      arch_rpizero2:
        type: boolean
        default: true
      arch_x86_64:
        type: boolean
        default: true

concurrency: 
  group: release

jobs:
  release:
    runs-on: ubuntu-slim
    outputs:
      tag: ${{ github.event_name == 'workflow_dispatch' && inputs.tag || steps.tag.outputs.tag }}
      new: ${{ steps.new.outputs.new }}
    steps:
    - name: "Return tag"
      if: github.event_name != 'workflow_dispatch'
      id: tag
      run: |
        set -x
        tag=$(curl -s https://gitlab.com/api/v4/projects/2396494/releases/ | jq -r 'del(.[] | select(.tag_name | contains("alpha")))[0].tag_name')
        echo "tag=$tag" >> "$GITHUB_OUTPUT"
    - name: "Checkout"
      uses: actions/checkout@v6
    - name: "Create release"
      id: new
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        set -x
        gl_tag=${{ github.event_name == 'workflow_dispatch' && inputs.tag || steps.tag.outputs.tag }}
        gh_tag=$(gh release list --json tagName --jq ".[]|select(.tagName==\"$gl_tag\")")
        if [ -z "$gh_tag" ]
        then
          wget "https://gitlab.com/recalbox/recalbox/-/raw/$gl_tag/RELEASE-NOTES.md"
          gh release create "$gl_tag" --notes-file=RELEASE-NOTES.md
          echo "new=true" >> "$GITHUB_OUTPUT"
        else
          echo "new=false" >> "$GITHUB_OUTPUT"
        fi
  build:
    if: github.event_name != 'schedule' || needs.release.outputs.new == 'true'
    needs: release
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        arch: [odroidgo2, rg353x, rpi3, rpi4_64, rpi5_64, rpizero2, x86_64]
        exclude:
          - arch: ${{ ! inputs.arch_odroidgo2 && 'odroidgo2' }}
          - arch: ${{ ! inputs.arch_rg353x && 'rg353x' }}
          - arch: ${{ ! inputs.arch_rpi3 && 'rpi3' }}
          - arch: ${{ ! inputs.arch_rpi4_64 && 'rpi4_64' }}
          - arch: ${{ ! inputs.arch_rpi5_64 && 'rpi5_64' }}
          - arch: ${{ ! inputs.arch_rpizero2 && 'rpizero2' }}
          - arch: ${{ ! inputs.arch_x86_64 && 'x86_64' }}
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      tag: ${{ needs.release.outputs.tag }}
      arch: ${{ matrix.arch }}
