name: release

on:
  workflow_call:
    inputs:
      tag:
        type: string
        default: ''
  workflow_dispatch: 
    inputs:
      tag:
        type: string
        default: ''
      arch_odroidgo2:
        type: boolean
        default: false
      arch_rg353x:
        type: boolean
        default: true
      arch_rpi3:
        type: boolean
        default: true
      arch_rpi4_64:
        type: boolean
        default: true
      arch_rpi5_64:
        type: boolean
        default: true
      arch_rpizero2:
        type: boolean
        default: true
      arch_x86_64:
        type: boolean
        default: true

jobs:
  tag:
    runs-on: ubuntu-slim
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    steps:
    - id: tag
      run: |
        set -x
        if [ -z "${{ inputs.tag }}" ]
        then
          tag=$(curl -s https://gitlab.com/api/v4/projects/2396494/releases/ | jq -r .[0].tag_name)
          echo "tag=$tag" >> "$GITHUB_OUTPUT"
        else
          echo "tag=${{ inputs.tag }}" >> "$GITHUB_OUTPUT"
        fi
    - name: "Checkout"
      uses: actions/checkout@v6
    - name: "Create release"
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        set -x
        release=$(gh release list --jq '.[]|select(.tagName=="${{ steps.tag.outputs.tag }}")')
        if [ -z "$release" ]
        then
          wget "https://gitlab.com/recalbox/recalbox/-/raw/${{ steps.tag.outputs.tag }}/RELEASE-NOTES.md"
          gh release create "${{ steps.tag.outputs.tag }}" --notes-file=RELEASE-NOTES.md
        fi
        false
  build:
    needs: tag
    strategy:
      matrix:
        arch: [odroidgo2, rg353x, rpi3, rpi4_64, rpi5_64, rpizero2, x86_64]
        exclude:
          - arch: ${{ ! inputs.arch_odroidgo2 && 'odroidgo2' }}
          - arch: ${{ ! inputs.arch_rg353x && 'rg353x' }}
          - arch: ${{ ! inputs.arch_rpi3 && 'rpi3' }}
          - arch: ${{ ! inputs.arch_rpi4_64 && 'rpi4_64' }}
          - arch: ${{ ! inputs.arch_rpi5_64 && 'rpi5_64' }}
          - arch: ${{ ! inputs.arch_rpizero2 && 'rpizero2' }}
          - arch: ${{ ! inputs.arch_x86_64 && 'x86_64' }}
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      tag: ${{ needs.tag.outputs.tag }}
      arch: ${{ matrix.arch }}
