name: release

on:
  workflow_call:
    inputs:
      tag:
        type: string
        default: ''
  workflow_dispatch: 
    inputs:
      tag:
        type: string
        default: ''

jobs:
  tag:
    runs-on: ubuntu-slim
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    steps:
    - id: tag
      run: |
        set -x
        if [ -z "${{ inputs.tag }}" ] && tag=$(curl -s https://gitlab.com/api/v4/projects/2396494/releases/ | jq -r .[0].tag_name)
        then
            echo "tag=$tag" >> "$GITHUB_OUTPUT"
        else
            echo "tag=${{ inputs.tag }}" >> "$GITHUB_OUTPUT"
        fi
    - name: "Create release"
      continue-on-error: true
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        wget --directory-prefix="${{ runner.temp }}" "https://gitlab.com/recalbox/recalbox/-/raw/${{ inputs.tag }}/RELEASE-NOTES.md"
        gh release create "${{ steps.tag.outputs.tag }}" --notes-file="${{ runner.temp }}/RELEASE-NOTES.md"

  init:
    needs: tag
    uses: ./.github/workflows/init.yml
    with:
      tag: ${{ needs.tag.outputs.tag }}
      release: ${{ needs.tag.outputs.tag }}
  build:
    needs: [init, tag]
    strategy:
      matrix:
        # odroidgo2
        arch: [rg353x, rpi3, rpi4_64, rpi5_64, rpizero2, x86_64]
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      tag: ${{ needs.tag.outputs.tag }}
      arch: ${{ matrix.arch }}
      release: ${{ needs.tag.outputs.tag }}
