name: sandbox

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: |
        sudo apt update
        sudo apt install -y tree
        mkdir dl/
        touch dl/test
    - name: "Upload dl"
      uses: actions/upload-artifact@v4
      with:
        name: recalbox-dl-${{ github.run_id }}-${{ job.check_run_id }}
        path: dl/
        compression-level: 0
    - uses: actions/download-artifact@v5
      with:
        name: recalbox-dl-${{ github.run_id }}-${{ job.check_run_id }}
    - run: |
        tree
