name: sandbox

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: |
        set -x +e
        sudo apt update
        sudo apt install --yes zfsutils-linux
        readonly dev=$(findmnt --noheadings --output SOURCE /mnt/)
        sudo umount "$dev"
        sudo zpool create -O compression=zstd mnt "$dev"
        sudo chown "$USER:$USER" /mnt/
        touch /mnt/hello
        df